
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> locOptions

@{ 
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}

@{ 
    <a class="btn  btn-primary" asp-action="Create">Create</a>
}

<table class="table table-striped table-hover table-border">
    <tr>
        <td>Culture</td>
        <td>@requestCulture.RequestCulture.Culture.Name</td>
    </tr>
    <tr>
        <td>UI Culture</td>
        <td>@requestCulture.RequestCulture.UICulture.Name</td>
    </tr>
    <tr>
        <td>Date</td>
        <td>@DateTime.Now.ToLongDateString()</td>
    </tr>
    <tr>
        <td>Currency</td>
        <td>@(9985.00.ToString("c"))</td>
    </tr>
    <tr>
        <td>Number</td>
        <td>@(985.00m.ToString("F2"))</td>
    </tr>
</table>
